[submodule "api.elianayesol.com"]
	path = api.elianayesol.com
	url = https://github.com/dpthf001107/elianaapi
[submodule "chat.elianayesol.com"]
	path = chat.elianayesol.com
	url = https://github.com/dpthf001107/elianachat
[submodule "vision.elianayesol.com"]
	path = vision.elianayesol.com
	url = https://github.com/dpthf001107/elianavision
